

.container{
    background-color: blueviolet;
    height: 300px;
  
  
}

@media (max-width : 900px) {
    .container{
    background-color: hotpink;
    height: 300px;
  
  
}
    
}
p{
    text-align: justify;
    background-color: aqua;
    text-transform: capitalize;
 
      
}